@{
    ViewData["Title"] = "Server Busy";
}
<h2>Server Busy</h2>

<div class="container pt-2">
    <img src="~/images/servers-busy.png" width="100%" />
    <p>The server is currently busy. Please try again after some time.</p>
</div>