<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Performace Review System</title>
    ﻿
    <link rel="preload" href="~/images/background.jpg" as="image">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <header class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg main-nav px-0">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.jpg" alt="logo" class="img-thumbnail square-image" width="200" height="200" style="background-color: white;object-fit: cover;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav me-auto text-uppercase f1">
                        <li>
                            <a asp-controller="Home" asp-action="Index" class="active active-first">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto text-uppercase f1">
                        <li>
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>

            </nav>

        </div>
        <!-- /.container -->
    </header>
 
    <div class="container" style="background-size: cover;
            background-position: center;
            height: 100vh;">
        <main role="main" class="pb-3" style="padding-top: 70px;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container text-white text-center">
            &copy; 2025<b>Supraja</b> All rights reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
