@using System.Security.Claims
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Performace Review System</title>
    ﻿
    <link rel="preload" href="~/images/background.jpg" as="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/TaskManagement.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/spinner.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/apexcharts.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <header class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg main-nav px-0">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.jpg" alt="logo" class="img-thumbnail square-image" width="200" height="200" style="background-color: white;object-fit: cover;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav me-auto text-uppercase f1">
                        <li>
                            <a asp-controller="Employee" asp-action="Index" class="active active-first">Employee</a>
                        </li>
                        <li>
                            <a asp-controller="Feedback" asp-action="Index">Feedback</a>
                        </li>
                        <li>
                            <a asp-controller="Goal" asp-action="Index">Goal</a>
                        </li>
                        <li>
                            <a asp-controller="Review" asp-action="Index">Review</a>
                        </li>
                        <li>
                            <a asp-controller="Signature" asp-action="Index">Signature</a>
                        </li>
                       
                    </ul>
                    <ul class="navbar-nav ml-auto text-uppercase f1">
                        <li>
                            <partial name="_LoginPartialAdmin" />
                        </li>
                    </ul>
                </div>
               
            </nav>
            
        </div>
        <!-- /.container -->
    </header>
   @*  <div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 w-100">
                <partial name="_Notification" />
                @RenderBody()
            </div>
        </main>
    </div> *@
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    ﻿
    <footer class="footer border-top text-white text-center">
        <div class="container">
            &copy; 2025 <a href="#">Supraja</a>. All rights reserved.
        </div>
    </footer>
    @* jquery-ajax-unobtrusive@3.2.6 *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    @*  <script src="~/js/jquery.unobtrusive-ajax.min.js"></script> *@
    <script src="~/js/apexcharts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
