@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var profileImage = user?.ProfilePictureUrl ?? "/profileimg/default-avatar-men.jpg";
}
<ul class="navbar-nav d-flex justify-content-end" style="width: 10rem">
    @if(user is null || !SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item dropdown d-flex align-items-center">
            <!-- Profile Image -->
            <img src="@Url.Content("~" + profileImage)"
                 alt="Profile Avatar"
                 class="rounded-circle me-2"
                 width="40" height="40" />

            <!-- Username as dropdown -->
            <a class="nav-link dropdown-toggle text-white"
               href="#" id="navbarDropdown"
               role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Hello @UserManager.GetUserName(User)
            </a>

            <!-- Dropdown Menu -->
            <ul class="dropdown-menu dropdown-menu-end"
                style="background-color: #2d2d7f;"
                aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item text-white text-center"
                       asp-controller="Account"
                       asp-action="Logout">Logout</a>
                </li>
            </ul>
        </li>
    }
)
    
</ul>